.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway{
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */



/* navigation styles */

.navbar{
display: flex;
justify-content: center;
align-items: center;
gap: 165px;
margin: 0 auto;
}

.nav-div1{
display: flex;
gap: 10px;
max-width: 180px;
}
.nav-icon{
  width: 55px;
  height:55px;
  margin: 0;
}
.nav-title{
  color: rgb(17, 17, 17);
  font-size: 28px;
  font-weight: 700;
  margin: 17px 0 15px;
}
.nav-list{
  display: flex;
  justify-content: space-around;
  gap: 28px;
  margin: 0;
  list-style: none;
}
.nav-list > li{
  font-size: 16px;
  font-weight: 700;
}
.home{
  color: rgb(254, 163, 1);
}
.about{
  color: rgb(1, 172, 253);
}
.facilities{
  color: rgb(5, 212, 223);
}
.admission{
  color: rgb(93, 88, 239);
}
.nav-button{
  background: rgb(254, 163, 1);
  color: rgb(255, 255, 255);
  padding: 10px 40px;
  border: none;
  border-radius: 12px;
}